.modal-add-new {
  display: flex;
  .col-md-12.img-preview {
    border: 1px dotted rgb(13, 13, 217);
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    width: 100%;
    height: 150px;
    img {
      width: 200px;
      height: 100%;
    }
  }
  .col-md-12.label-upload {
    label {
      display: flex;
      align-items: center;
      gap: 5px;
      width: fit-content;
      cursor: pointer;
      background-color: rgb(140, 140, 197);
      padding: 5px 15px;
      border-radius: 5px;
    }
  }
}

.manage-user-container{
  padding: 10px;
  .title{
    font-size : 24px;
    font-weight : 600;
  }

  .user-content{
    button{
      border : none;
      margin: 10px 0;
    }
  }
}
